* {
    box-sizing: border-box;
}

/* estilos para inputs [formularios] */

/* input {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
} */

.new-form__input-element:focus {
    outline: 0;
    border-color: #35424a;
}

.new-form__input-label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* button {
    float: right;
    width: calc(100% - 200px);
    border:none;
    padding: 3px;
    background-color: cornflowerblue;
  } */

.contenedor-formulario {
    padding: 20px;
    background-color: #f2f2f2;
    width: 100%;
    max-width: 1000px;
    padding: 40px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 3px #000;
}

/**
 * Estilos responsive form W3SCHOOL: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_form
 */

/* input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
} */
.new-form__input-element {
    width: 100%;
    position: relative;
    /*padding: 12px;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    resize: vertical;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    color: #666;
    border-radius: 0;
    margin-bottom: 10px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

textarea.new-form__input-element {
    min-height: 200px;
}

.new-form__submit-button {
    /* background-color: rgb(33, 46, 163);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; */
    float: right;
    margin-right: 4px;
    margin-bottom: 4px;
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #e8491d;
    color: #ffffff;
    cursor: pointer;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.new-form__submit-button:hover {
    background: #35424a;
}

.new-form__submit-button:disabled {
    background-color: #aab1a8;
    color: #333333;
    cursor: not-allowed;
}

.wrap {
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 3px grey;
}

.container {
    padding: 20px;
    background-color: #f2f2f2;
    width: 90%;
    max-width: 600px;
    padding: 40px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 3px grey;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-100 {
    width: 100%;
    margin-top: 6px;
    margin: 0 auto;
}

.form__titulo {
    text-transform: uppercase;
    padding: 0 0 20px 0;
    font-size: 30px;
    color: #666;
    font-weight: lighter;
    text-align: center;
}

/* Clear floats after the columns */

.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 550px) {

    .col-25,
    .col-75,
    input[type=submit],
    input[type=button] {
        width: 100%;
        margin-top: 0;
    }

    .new-form__submit-button{
        margin-right: 0;
    }
}

/**
 * For hide #ui-datepicker-div element
 */

#ui-datepicker-div {
    display: none;
}

/**/

/* For image event responsive */
.event__image {
    width: 100%;
    height: auto;
}

/*  */

/*==========================================
=            miniatura imagenes            =
==========================================*/

.img-container {
    position: relative;
    margin-right: 1em;
}

.thumb {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 100%;
    height: auto;
    /*width: 95px;*/
    /*border: 1px dashed #000;*/
    /*margin: 10px 5px 0 0;*/
}

.thumb:hover {
    opacity: 0.8;
    /*filter:alpha(opacity=40);*/
    /*filter: drop-shadow(8px 8px 10px gray);*/
}

/*image gallery*/
.hidden {
    display: none !important;
}

.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    margin-bottom: 0;
    outline: 0;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.image-checkbox input[type="radio"] {
    display: none;
}

.image-checkbox-checked {
    border-color: #4783B0;
}

.image-checkbox .fa {
    position: absolute;
    color: #4A79A3;
    background-color: #fff;
    padding: 10px;
    top: 0;
    right: 0;
}

.image-checkbox-checked .fa {
    display: block !important;
    border-radius: 50%;
    background-color: #d7e7de;
}

/*=====  End of miniatura imagenes  ======*/

/*----------  for switch editing mode  ----------*/
.editing .edit {
    display: block;
}

.editing .view {
    display: none;
}

input.edit,
textarea.edit,
select.edit {
    display: none;
}

.enable-edit {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 30px;
    height: auto;
    margin: auto 0;
    font-size: 30px;
    margin-bottom: 0px;
    transition: color 0.2s ease-out;
}

.view .enable-edit:after {
    content: url('../img/cd-pencil.svg');
}

.view:hover .enable-edit {
    display: block;
    cursor: pointer;
}

/*========================================
=            Slideshow styles            =
========================================*/

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-view {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Edit slideshow images button */
.edit-images{
	position: absolute;
  	top: 0;
  	right: 0;
  	cursor: pointer;
	color: white;
	transition: 0.6s ease;
	border-radius: 0 0 0 10px;
	user-select: none;
	padding: 1rem;
	opacity: 0;
	background-color: rgba(23, 132, 199,0.6);
}

/* Show edit button */
.slideshow-view:hover .edit-images {
  opacity: 1;
}

/* Input file for choose new images */
.slideshow_input-images{
	display: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover,
.edit-images:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide-image {
    width: 100%;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/*=====  End of Slideshow styles  ======*/