<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css">
    <!--CSS reset-->
	
    
	<!-- bootstrap -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
     crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
     integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"> -->
    <!-- bootstrap -->
    
    <link rel="stylesheet" href="css/uikit.css" />
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/mdtimepicker.css">
    <script src="js/lib/modernizr.js"></script> <!-- Modernizr -->
    <title>Responsive Sidebar Navigation | CodyHouse</title>
</head>

<body>
    <main class="main-app">
        <header class="cd-main-header">
            <a href="#/" class="cd-logo"><img src="img/cd-logo.svg" alt="Logo"></a>
            <div class="cd-search is-hidden">
                <form action="#0">
                    <input class="input__search" type="search" placeholder="Search...">
                </form>
            </div> <!-- cd-search -->
            <a class="search__reset-input visible"></a>
            <a href="#0" class="cd-nav-trigger">
                <!--Menu--><span></span></a>
            <nav class="cd-nav">
                <ul class="cd-top-nav">
                    <!-- <li><a href="#0">Tour</a></li> -->
                    <li><a href="#">Support</a></li>
                    <li class="has-children account">
                        <a href="#0">
                            <img src="img/cd-avatar.png" alt="avatar">
                            Perfil
                        </a>
                        <ul>
                            <li><a href="#/me">Mis datos</a></li>
                            <li><a href="#/security">Mi contraseña</a></li>
                            <li><a href="#/close">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header> <!-- .cd-main-header -->
        <aside class="cd-main-content">
            <nav class="cd-side-nav">
                <ul>
                    <li class="cd-label">Main</li>
                    <li class="has-children overview">
                        <a class="overview" href="#">Eventos</a>
                        <ul>
                            <li><a href="#/all">Todos</a></li>
                            <li><a href="#/coming">Próximos</a></li>
                            <li><a href="">Pago</a></li>
                            <li><a href="">Gratis</a></li>
                        </ul>
                    </li>
                    <li class="has-children notifications active">
                        <a href="#0">Notificaciones<span class="count">3</span></a>
                        <ul>
                            <li><a href="#0">Todas</a></li>
                            <li><a href="#0">Friends</a></li>
                            <li><a href="#0">Other</a></li>
                        </ul>
                    </li>
                    <!-- <li class="has-children comments">
                        <a class="comments" href="#0">Comments</a>
                        <ul>
                            <li><a href="#0">All Comments</a></li>
                            <li><a href="#0">Edit Comment</a></li>
                            <li><a href="#0">Delete Comment</a></li>
                        </ul>
                    </li> -->
                </ul>
                <ul>
                    <li class="cd-label">Secondary</li>
                    <li class="has-children bookmarks">
                        <a href="#0">Bookmarks</a>
                        <ul>
                            <li><a href="#0">All Bookmarks</a></li>
                            <li><a href="#0">Edit Bookmark</a></li>
                            <li><a href="#0">Import Bookmark</a></li>
                        </ul>
                    </li>
                    <!-- <li class="has-children images">
                        <a href="#0">Images</a>
                        <ul>
                            <li><a href="#0">All Images</a></li>
                            <li><a href="#0">Edit Image</a></li>
                        </ul>
                    </li> -->
                    <li class="has-children users">
                        <a href="#0">Me</a>
                        <ul>
                            <!-- <li><a href="#0">All Users</a></li> -->
                            <li><a href="#0">Edit User</a></li>
                            <!-- <li><a href="#0">Add User</a></li> -->
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="cd-label">Action</li>
                    <li class="action-btn"><a class="new-event-form" href="#/create">+ Nuevo Evento</a></li>
                </ul>
            </nav>
            <div class="content-wrapper">
                <div class="main content-element">
                </div>
                <!-- <h1>Responsive Sidebar Navigation</h1> -->
                <!-- <div class="indicators content-element container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-xl-3">
                            < class="panel panel-default">
                                <div class="panel-heading"><i class="fas fa-money-bill-alt"></i> Ventas</div>
                                <div class="panel-body">
                                    <p>Sint amet nulla asperiores laboriosam quasi et fuga. Temporibus velit voluptate expedita rerum a. Sit sed
                                    voluptatem exercitationem distinctio.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fas fa-users"></i> Con más asistencia</div>
                                <div class="panel-body">
                                    <p>Sint amet nulla asperiores laboriosam quasi et fuga. Temporibus velit voluptate expedita rerum a. Sit sed
                                    voluptatem exercitationem distinctio.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fas fa-thumbs-up"></i> Con más me gusta</div>
                                <div class="panel-body">
                                    <p>Sint amet nulla asperiores laboriosam quasi et fuga. Temporibus velit voluptate expedita rerum a. Sit sed
                                    voluptatem exercitationem distinctio.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fas fa-share-alt"></i> Más compartido</div>
                                <div class="panel-body">
                                    <p>Sint amet nulla asperiores laboriosam quasi et fuga. Temporibus velit voluptate expedita rerum a. Sit sed
                                    voluptatem exercitationem distinctio.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="chart_div" class="statistics content-element container-fluid">
                    Div that will hold the pie chart
                    <div id="chart_div"></div>
                    <div class="row">
                        <div class="col-sm-6 col-xl-3">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fas fa-money-bill-alt"></i> Ventas</div>
                                <div class="panel-body">
                                    <p>Sint amet nulla asperiores laboriosam quasi et fuga. Temporibus velit voluptate expedita rerum a. Sit sed
                                        voluptatem exercitationem distinctio.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fas fa-users"></i> Con más asistencia</div>
                                <div class="panel-body">
                                    <p>Sint amet nulla asperiores laboriosam quasi et fuga. Temporibus velit voluptate expedita rerum a. Sit sed
                                        voluptatem exercitationem distinctio.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fas fa-thumbs-up"></i> Con más me gusta</div>
                                <div class="panel-body">
                                    <p>Sint amet nulla asperiores laboriosam quasi et fuga. Temporibus velit voluptate expedita rerum a. Sit sed
                                        voluptatem exercitationem distinctio.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fas fa-share-alt"></i> Más compartido</div>
                                <div class="panel-body">
                                    <p>Sint amet nulla asperiores laboriosam quasi et fuga. Temporibus velit voluptate expedita rerum a. Sit sed
                                        voluptatem exercitationem distinctio.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-element events container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Voluptatem est minima qui veritatis optio.</div>
                                <div class="panel-body">
                                    <p>Sint amet nulla asperiores laboriosam quasi et fuga. Temporibus velit voluptate expedita rerum a. Sit sed
                                        voluptatem exercitationem distinctio.
                                        Accusantium consequatur veritatis non impedit ducimus dolores dolor nam. Et cupiditate aliquam veniam ut
                                        dolore.
                                        Molestiae eos voluptatem ut consequatur non repellendus eum sint. Sed nostrum et est odit repudiandae ratione
                                        quo
                                        rem. Et vel dicta non eligendi expedita nulla. Debitis corporis nesciunt iure sed.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Voluptatem est minima qui veritatis optio.</div>
                                <div class="panel-body">
                                    <p>Sint amet nulla asperiores laboriosam quasi et fuga. Temporibus velit voluptate expedita rerum a. Sit sed
                                        voluptatem exercitationem distinctio.
                                        Accusantium consequatur veritatis non impedit ducimus dolores dolor nam. Et cupiditate aliquam veniam ut
                                        dolore.
                                        Molestiae eos voluptatem ut consequatur non repellendus eum sint. Sed nostrum et est odit repudiandae ratione
                                        quo
                                        rem. Et vel dicta non eligendi expedita nulla. Debitis corporis nesciunt iure sed.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="table_div" class="content-element tables container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Voluptatem est minima qui veritatis optio.</div>
                                <div class="panel-body">
                                    <p>Sint amet nulla asperiores laboriosam quasi et fuga. Temporibus velit voluptate expedita rerum a. Sit sed
                                        voluptatem exercitationem distinctio.
                                        Accusantium consequatur veritatis non impedit ducimus dolores dolor nam. Et cupiditate aliquam veniam ut
                                        dolore.
                                        Molestiae eos voluptatem ut consequatur non repellendus eum sint. Sed nostrum et est odit repudiandae ratione
                                        quo
                                        rem. Et vel dicta non eligendi expedita nulla. Debitis corporis nesciunt iure sed.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Voluptatem est minima qui veritatis optio.</div>
                                <div class="panel-body">
                                    <p>Sint amet nulla asperiores laboriosam quasi et fuga. Temporibus velit voluptate expedita rerum a. Sit sed
                                        voluptatem exercitationem distinctio.
                                        Accusantium consequatur veritatis non impedit ducimus dolores dolor nam. Et cupiditate aliquam veniam ut
                                        dolore.
                                        Molestiae eos voluptatem ut consequatur non repellendus eum sint. Sed nostrum et est odit repudiandae ratione
                                        quo
                                        rem. Et vel dicta non eligendi expedita nulla. Debitis corporis nesciunt iure sed.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-element new-event container-fluid"></div> -->
            </div> <!-- .content-wrapper -->
        </aside> <!-- .cd-main-content -->
    </main>
    <script id="evento-template" type="text/template">
        <a href="#eventos/<%- id %>"" class="card-link">
        <div class="recipe-card card-container">
        <aside class="card__img-container">
            <img class="card__img-element" src="<%= _.where(imagenes,{cover:true})[0].url %>" alt="event-avatar" />
        </aside>

    <article>
        <h3 class="card-category"><%= categoria %></h3>
        <h2 class="card-title"><%= nombre %></h2>
        
        <h6 class="card-bar bar__estado--<%- estado %>"></h6>
        <ul class="info-list">
            <li>
                <span class="card__event-date"><img class="card__img" src="img/cd-calendar.svg"></span><span class="icon__info"><%= fecha %></span>
            </li>
            <li>
                <span class="info-list__title">paga</span><span class="icon__info"><%= sePaga ?"&#x2714;":"&#x2718;" %></span>
            </li>
        </ul>

        <p class="event__descripcion"><%= descripcion.length>100?descripcion.substring(0,85)+'...':descripcion+'.' %></p>

        <p class="card-tag-box"> <span class="card__img-tag"><img src="img/cd-tag.png" class="card__img"></span> <span class="tag-element">tag 1</span><span class="tag-element">tag 2</span><span class="tag-element">tag 3</span></p>

    </article>

    </div>
    </a>
    </script>
    <script type="text/template" id="all-events-template">
        <div class="row">
            
        </div>
    </script>
    <script type="text/template" id="coming-events-template">
        <!--  -->
        <div class="uk-margin">
            <h1 class="uk-heading-medium" >Eventos que ocurrirán dentro de <a class="uk-link-heading" id="n-days"></a></h1>
        </div>
        <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <!-- <i class="far fa-calendar-alt"></i> -->
                <div class="uk-margin">
                    <input class="uk-input uk-form-width-medium" type="text" id="fecha" name="fecha" placeholder="Hasta cuándo.." readonly>
                    <button class="uk-icon-button button-calendar" uk-icon="icon: calendar;"></button>
                    <button class="uk-icon-button button-clear" uk-icon="icon: close;"></button>
                </div>
                <!-- <div class="uk-form-small flatpickr">
                    <input type="text" readonly="readonly" class="uk-input" data-input>
                    <a class="input-button" title="toggle" data-toggle>
                        <span uk-icon="calendar"></span>
                    </a>
                    <a class="input-button" title="clear" data-clear>
                        <span uk-icon="close"></span>
                    </a>
                </div> -->
            </div>
            <div>
                <div class="uk-margin">

                    <label class="label">
                        <div class="toggle">
                            <input class="toggle-state paid-state" type="checkbox" name="check" value="" />
                            <div class="toggle-inner">
                                <div class="indicator"></div>
                            </div>
                            <div class="active-bg"></div>
                        </div>
                        <div class="label-text">De Pago</div>
                    </label>

                    <!-- <label><input type="checkbox" class="uk-checkbox" id="sePaga" name="sePaga"> Pagar?</label> -->
                </div>
            </div>
        </div>
    </script>
    <script id="indicador-template" type="text/template">
        <div class="panel panel-default">
            <div class="panel-heading">
                <!-- <i class="fas fa-info-circle"></i> --> 
                <span class="uk-margin-small-right" uk-icon="<%= icon %>"></span>
                <%= nombre.toUpperCase() %>
            </div>
            <div class="panel-body">
                <small><%= valor %></small>
            </div>
        </div> 
    </script>
    <script id="lista-eventos-template" type="text/template">
    </script>
    <script id="tabla-template" type="text/template">
    </script>
    <script id="stats-template" type="text/template">
        <div id="dashboard-table">
            <div id="filter"></div>
            <div id="table"class="dashboard__events-table"></div>
        </div>
        <div id="dashboard-column" class="uk-margin">
            <div id="category_filter_column"></div>
            <div id="name_filter_column"></div>            
            <div id="column"></div>
        </div>
    </script>
    <script text="text/template" id="home-template">
    </script>
    <script id="nuevo-evento-template" type="text/template">
        <form action="" id="new-event" class="submit-form" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-100">
                        <h1 class="form__titulo">Nuevo Evento</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="nombreEvento">Nombre</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="nombreEvento" class="new-form__input-element" data-validation="required" name="nombre" placeholder="Nombre del evento..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="ciudad">Ciudad</label>
                    </div>
                    <div class="col-75">
                        <input type="text" data-validation="required" id="ciudad" class="new-form__input-element" name="ciudad" placeholder="Ciudad..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="lugar">Lugar</label>
                    </div>
                    <div class="col-75">
                        <input type="text" data-validation="required" id="lugar" class="new-form__input-element" name="lugar" placeholder="Lugar..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="fecha">Fecha</label>
                    </div>
                    <div class="col-75">
                        <input type="text" readonly class="datepicker new-form__input-element" data-validation="required" id="fecha" name="fecha" placeholder="Fecha..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25"><label class="new-form__input-label" for="hora">Hora</label></div>
                    <div class="col-75"><input type="text" data-validation="required" id="hora" name="hora" class="timepicker new-form__input-element" placeholder="Hora..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="descripcion">Descripción</label>
                    </div>
                    <div class="col-75">
                        <textarea id="descripcion" data-new-event="descripcion" class="new-form__input-element" data-validation="" name="descripcion" placeholder="Información adicional.." style="height:200px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="url">URL</label>
                    </div>
                    <div class="col-75">
                        <input type="text" data-validation="" id="url" class="new-form__input-element" name="url" placeholder="URL..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="categoria">Categoria</label>
                    </div>
                    <div class="col-75">
                        <select id="categoria" data-validation="required" class="new-form__input-element" name="categoria">
                            <option value="" selected="selected" disabled>Seleccione</option>
                            <option value="musica">Música</option>
                            <option value="teatro">Teatro</option>
                            <option value="empleo">Empleo</option>
                            <option value="educacion">Educacion</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="capacidad">Capacidad</label>
                    </div>
                    <div class="col-25">
                        <input type="text" data-validation="required custom" data-validation-regexp="^[0-9]*$" data-validation="required" id="capacidad" class="new-form__input-element" name="capacidad" placeholder="Capacidad..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="sePaga">Paga</label>
                    </div>
                    <div class="col-25">
                        <input type="checkbox" id="sePaga" class="new-form__input-element" name="sePaga">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="images">Cargar fotos</label>
                    </div>
                    <div class="col-75">
                        <input type="file" data-validation="mime" data-validation-allowing="jpg, png, gif, jpeg, svg" data-validation-error-msg-mime="You can only upload images" id="images" class="new-form__input-element" name="images" accept="image/*" multiple>
                    </div>
                </div>
                <div class="row" id="images-result">
                    
                </div>
                <div class="row">
                <input type="submit" class="new-form__submit-button submit-crear" value="Crear">
                <input type="button" class="new-form__submit-button cancelar" value="Cancelar">
        </form>
    </script>
    <script type="text/template" id="image-thumbnail">
        <label class="image-checkbox <%= cover ? 'image-checkbox-checked' : '' %>">
            <img class="thumb" src="<%= url %>" alt="<%= alt %>"/>
            <i class="fa fa-check hidden"></i>
        </label>
    </script>
    <script type="text/template" id="control-estado">
        <div class="row">
            <div class="col-25">
                <select id="estado" class="new-form__input-element" name="estado">
                    <option value="creado" selected>Creado</option>
                    <option value="publicado">Publicado</option>
                    <option value="eliminado">Eliminado</option>
                    <option value="ejecutado">Ejecutado</option>
                </select>
            </div>
        </div>
    </script>
    <script id="slideshow-manager" type="text/template">
        <div class="slideshow-container">
        </div>
    </script>
    <script id="slide-element" type="text/template">
        <!-- slide content -->
        <!-- <div class="numbertext">x / x</div> -->
        <img class="slide-image" src="<%= url %>">
        <div class="text"><%= name %></div>
    </script>
    <script id="slideshow-controls" type="text/template">
        <a class="prev">❮</a>
        <a class="next">❯</a>
		<span class="edit-images" uk-icon="icon: pencil; ratio: 1.3" uk-tooltip="title: EDITAR; pos: left; delay: 350"></span>
		<input type="file" id="images" class="slideshow_input-images" name="images" accept="image/*" multiple>
    </script>
    <script id="event-edit-template" type="text/template">
		
		<!-- Slideshow container anchor -->
		<div class="slideshow-container">
			<div class="slideshow-view"></div>
			<div class="row  event-edit__images"></div>
		</div>
		<!-- end of anchor -->
	
        <form action="" id="edit-event" class="submit-form">
            <div class="row">
                <div class="col-100"></div>
            </div>
			<div class="row event-edit__images">
                
            </div>
            <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="nombre">Nombre</label>
                    </div>
                    <div class="col-75">
                        <!-- <div class="view new-form__input-element">
                            <label class="view__label"><%- nombre %></label>
                            <span class="enable-edit"></span>
                        </div> -->
                        <input type="text" id="nombre" name="nombre" class="new-form__input-element fields__input" data-validation="required"  value="<%= nombre%>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="ciudad">Ciudad</label>
                    </div>
                    <div class="col-75">
                        <!-- <div class="view new-form__input-element">
                            <label class="view__label"><%- ciudad %></label>
                            <span class="enable-edit"></span>
                        </div> -->
                        <input type="text" data-validation="required" id="ciudad" name="ciudad" class="new-form__input-element fields__input"  value="<%= ciudad %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="lugar">Lugar</label>
                    </div>
                    <div class="col-75">
                        <!-- <div class="view new-form__input-element">
                            <label class="view__label"><%- lugar %></label>
                            <span class="enable-edit"></span>
                        </div> -->
                        <input type="text" data-validation="required" id="lugar" name="lugar" class="new-form__input-element fields__input"  value="<%= lugar%>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="fecha">Fecha</label>
                    </div>
                    <div class="col-75">
                        <!-- <div class="view new-form__input-element">
                            <label class="view__label"><%- fecha %></label>
                            <span class="enable-edit"></span>
                        </div> -->
                        <input type="text" class="datepicker new-form__input-element fields__input" data-validation="required date" id="fecha" name="fecha" value="<%= fecha %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25"><label class="new-form__input-label" for="hora">Hora</label></div>
                    <div class="col-75">
                        <!-- <div class="view new-form__input-element">
                            <label class="view__label"><%- hora %></label>
                            <span class="enable-edit"></span>
                        </div> -->
                        <input type="text" data-validation="required" id="hora" name="hora" class="timepicker new-form__input-element fields__input" value="<%= hora %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="url">URL</label>
                    </div>
                    <div class="col-75">
                        <!-- <div class="view new-form__input-element">
                            <label class="view__label"><%= (url=="") ?"---":url %></label>
                            <span class="enable-edit"></span>
                        </div> -->
                        <input type="text" id="url" name="url" class="new-form__input-element fields__input" data-validation="required" value="<%- url %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="descripcion">Descripción</label>
                    </div>
                    <div class="col-75">
                        <!-- <div class="view new-form__input-element">
                            <label class="view__label"><%- descripcion %></label>
                            <span class="enable-edit"></span>
                        </div> -->
                        <textarea id="descripcion" name="descripcion" class="new-form__input-element fields__input" data-validation="required" name="descripcion"><%= descripcion%></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="categoria">Categoria</label>
                    </div>
                    <div class="col-75">
                        <!-- <div class="view new-form__input-element">
                            <label class="view__label"><%- categoria.toUpperCase() %></label>
                            <span class="enable-edit"></span>
                        </div> -->
                        <select id="categoria" name="categoria" data-validation="required" class="new-form__input-element fields__input">

                            <!-- Nested for into this select -->
                            <% var cats = ['musica', 'teatro', 'empleo', 'educacion']; %>
                            <% for (var i = 0; i < cats.length; i++) { %>
                                <option value="<%= cats[i] %>" <%= (cats[i] == categoria)?'selected="selected"':'' %> ><%= cats[i].toUpperCase() %></option>
                            <% } %>
                            

                            <!-- <option value="" selected="selected" disabled>Seleccione</option>
                            <option value="musica">Música</option>
                            <option value="teatro">Teatro</option>
                            <option value="empleo">Empleo</option> -->

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="capacidad">Capacidad</label>
                    </div>
                    <div class="col-25">
                        <!-- <div class="view new-form__input-element">
                            <label class="view__label"><%- capacidad %></label>
                            <span class="enable-edit"></span>
                        </div> -->
                        <input type="text" data-validation="required custom" data-validation-regexp="^[0-9]*$" id="capacidad" name="capacidad"  class="new-form__input-element fields__input" value="<%= capacidad %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="sePaga">Paga</label>
                    </div>
                    <div class="col-25">
                        <!-- <div class="view new-form__input-element">
                            <label class="view__label"><%- sePaga ?"SI":"NO" %></label>
                            <span class="enable-edit"></span>
                        </div> -->
                        <input type="checkbox" class="fields__input uk-checkbox"  id="sePaga" name="sePaga" <%= sePaga ? 'checked' : '' %> style="height: 38px;width: 44px;">
                        <!-- <div class="uk-margin edit">
                            <label class="label">
                                <div class="toggle">
                                    <input class="toggle-state" type="checkbox" name="sePaga" id="sePaga" <%= sePaga ? 'checked' : '' %> />
                                    <div class="toggle-inner">
                                        <div class="indicator"></div>
                                    </div>
                                    <div class="active-bg"></div>
                                </div>
                            </label>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="estado">Estado</label>
                    </div>
                    <div class="col-75">
                        <!-- <div class="view new-form__input-element">
                            <label class="view__label"><%- estado.toUpperCase() %></label>
                            <span class="enable-edit"></span>
                        </div> -->
                        <select id="estado" name="estado" data-validation="required" class="new-form__input-element fields__input">

                            <!-- Nested for into this select -->
                            <% var states = ['creado', 'publicado', 'ejecutado', 'eliminado','pausado','cerrado']; %>
                            <% for (var i = 0; i < states.length; i++) { %>
                                <option value="<%= states[i] %>" <%= (states[i] == estado)?'selected="selected"':'' %> ><%= states[i].toUpperCase() %></option>
                            <% } %>

                            <!-- <option value="" selected="selected" disabled>Seleccione</option>
                            <option value="creado">Creado</option>
                            <option value="publicado">Publicado</option>
                            <option value="eliminado">Eliminado</option>
                            <option value="pausado">Pausado</option>
                            <option value="cerrado">Cerrado</option>
                            <option value="cancelado">Cancelado</option>
                            <option value="ejecutado">Ejecutado</option> -->
                        </select>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-100">
                        <hr class="form-divider" />
                    </div>
                </div> -->

                <% if (estado != 'creado') { %>
                <hr class="uk-divider-icon">
                 <div class="row uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
                    <div id="comodidad">
                        <!-- <div class="uk-background-muted uk-padding">1</div> -->
                    </div>
                    <div id="entretenido">
                        <!-- <div class="uk-background-primary uk-padding">2</div> -->
                    </div>
                    <div id="interesante">
                        <!-- <div class="uk-background-secondary uk-padding">3</div> -->
                    </div>
                    <div id="logistica">
                        <!-- <div class="uk-background-muted uk-padding">4</div> -->
                    </div>
                </div>
                <% } %>
                <div class="row">
                <input type="submit" class="new-form__submit-button" value="modificar">
                <input type="button" class="new-form__submit-button cancelar" value="Cancelar">
                </div>
        </form>
    </script>
    <script id="user-password-template" type="text/template">
        <form action="" id="edit-user" class="submit-form">
            <div class="row">
                <div class="col-100">
                    <img class="event__image" src="http://1.bp.blogspot.com/-pabyR82U05A/UMlUcJFzEtI/AAAAAAAABhw/8uxaCD7iRKo/s1600/FOREST_SPRING.jpg">
                </div>
            </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="cpassword">Contraseña actual</label>
                    </div>
                    <div class="col-75">
                        <input type="password" data-validation="length" data-validation-length="min5" class="new-form__input-element fields__input" id="cpassword" name="cpassword" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="password">Contraseña nueva</label>
                    </div>
                    <div class="col-75">
                        <input type="password" data-validation="length" data-validation-length="min5" class="new-form__input-element fields__input" id="npassword" name="password_confirmation" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="npassword">Contraseña nueva otra vez</label>
                    </div>
                    <div class="col-75">
                        <input type="password" class="new-form__input-element fields__input" id="apassword" name="password" data-validation="confirmation" value="">
                    </div>
                </div>
                <div class="row">
                <input type="submit" class="new-form__submit-button" value="modificar">
                <input type="button" class="new-form__submit-button cancelar" value="Cancelar">
                </div>
        </form>
    </script>
    <script id="user-data-template" type="text/template">
        <form action="" id="edit-user" class="submit-form">
            <div class="row">
                <div class="col-100">
                    <img class="event__image" src="http://1.bp.blogspot.com/-pabyR82U05A/UMlUcJFzEtI/AAAAAAAABhw/8uxaCD7iRKo/s1600/FOREST_SPRING.jpg">
                </div>
            </div>
            <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="nombres">Nombres</label>
                    </div>
                    <div class="col-75">
                        <div class="view new-form__input-element">
                            <label class="view__label"><%- nombres %></label>
                            <span class="enable-edit"></span>
                        </div>
                        <input type="text" id="nombres" class="new-form__input-element fields__input edit" data-validation="required" name="nombres" value="<%= nombres %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="apellidos">Apellidos</label>
                    </div>
                    <div class="col-75">
                        <div class="view new-form__input-element">
                            <label class="view__label"><%- apellidos %></label>
                            <span class="enable-edit"></span>
                        </div>
                        <input type="text" data-validation="required" id="apellidos" class="new-form__input-element fields__input edit" name="apellidos" value="<%= apellidos %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="organizacion">Organizacion</label>
                    </div>
                    <div class="col-75">
                        <div class="view new-form__input-element">
                            <label class="view__label"><%- organizacion %></label>
                            <span class="enable-edit"></span>
                        </div>
                        <input type="text" data-validation="required" id="organizacion" class="new-form__input-element fields__input edit" name="organizacion" value="<%= organizacion %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label class="new-form__input-label" for="email">Email</label>
                    </div>
                    <div class="col-75">
                        <div class="view new-form__input-element">
                            <label class="view__label"><%- email %></label>
                            <span class="enable-edit"></span>
                        </div>
                        <input type="text" class="new-form__input-element fields__input edit" data-validation="required" id="email" name="email" value="<%= email %>">
                    </div>
                </div>
                <div class="row">
                <input type="submit" class="new-form__submit-button" value="modificar">
                <input type="button" class="new-form__submit-button cancelar" value="Cancelar">
                </div>
        </form>
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/lib/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>
    <script src="js/lib/jquery-dateformat.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/backbone-validation.js"></script>
    <script type="text/javascript">
    _.extend(Backbone.Model.prototype, Backbone.Validation.mixin);
    </script>
    <script src="js/lib/jquery.menu-aim.js"></script>
    <script src="js/lib/mdtimepicker.js"></script>
    <script src="js/main.js"></script> <!-- Resource jQuery -->
    <script src="js/models/usuario.js"></script>
    <script src="js/models/indicador.js"></script>
    <script src="js/models/evento.js"></script>
    <script src="js/models/imagen.js"></script>
    <script src="js/models/imagenServidor.js"></script>
    <script src="js/collections/imagenesServidor.js"></script>
    <script src="js/collections/eventos.js"></script>
    <script src="js/collections/indicadores.js"></script>
    <script src="js/collections/imagenes.js"></script>
    <script src="js/views/indicadorView.js"></script>
    <script src="js/views/indicadorList.js"></script>
    <script src="js/views/imgElementView.js"></script>
    <script src="js/views/imgListView.js"></script>
    <script src="js/views/eventoItem.js"></script>
    <script src="js/views/eventoList.js"></script>
    <script src="js/views/eventosContainer.js" type="text/javascript"></script>
    <script src="js/views/slideElementView.js" type="text/javascript"></script>
    <script src="js/views/slideShowView.js" type="text/javascript"></script>
    <script src="js/views/nuevoEvento.js"></script>
    <script src="js/views/editEventoView.js"></script>
    <script src="js/views/statsView.js"></script>
    <script src="js/views/passwordsView.js"></script>
    <script src="js/views/profileView.js"></script>
    <script src="js/views/comingEvents.js" type="text/javascript"></script>
    <script src="js/views/homeView.js"></script>
    <script src="js/views/appView.js"></script>
    <script src="js/app.js"></script>
    <script src="js/routers/router.js"></script>
</body>

</html>