* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #175690;
    font-family: 'open sans', sans-serif;
}

.forms {
    background: #fff;
    box-shadow: 0 0 3px #000;
    margin: 30px auto;
    max-width: 500px;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.form__header {
    padding: 0 0 20px 0;
    font-size: 26px;
    color: #666;
    font-weight: lighter;
    text-align: center;
}

.forms__form-element {
    padding: 30px;
}

.signup-form {
    display: none;
}

.forms-tab-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.forms-tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-link {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: #e5e6e7;
    color: #888;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    border-top: 3px solid transparent;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.tab-link:hover {
    background: #dedfdf;
    color: #666;
}

.active .tab-link {
    background: #fff;
    color: #444;
    border-top: 3px solid #e8491d;
}

.form__input-element {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ddd;
    color: #666;
    border-radius: 0;
    margin-bottom: 10px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.form__input-element:focus {
    outline: 0;
    border-color: #35424a;
}

.form__label-element {
    font-size: 16px;
    font-weight: normal;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

.form__button-element {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #e8491d;
    color: #ffffff;
    cursor: pointer;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.form__button-element:hover, .form__button-element:focus {
    background: #002e48;
}

.form__forgot-text {
    text-align: right;
}

.form__forgot-link {
    color: #35424a;
	text-decoration:none;
	font-weight:bold;
	font-size:12px;
}